@tailwind base;
@tailwind components;
@tailwind utilities;

.vue-map {
    height: 500px;
}

body {
    font-family: 'Inter', sans-serif;
    font-display: swap;
}

.logo-font {
    font-family: 'Montserrat', sans-serif;
}

@font-face {
    font-family: "Inter";
    font-weight: 100;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("Inter Thin"), url(@/assets/fonts/Inter/Inter-Thin.woff) format("woff");
}

@font-face {
    font-family: "Inter";
    font-weight: 200;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("Inter ExtraLight"), url(@/assets/fonts/Inter/Inter-ExtraLight.woff) format("woff");
}

@font-face {
    font-family: "Inter";
    font-weight: 300;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("Inter Light"), url(@/assets/fonts/Inter/Inter-Light.woff) format("woff");
}

@font-face {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("Inter Regular"), url(@/assets/fonts/Inter/Inter-Regular.woff) format("woff");
}

@font-face {
    font-family: "Inter";
    font-weight: 500;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("Inter Medium"), url(@/assets/fonts/Inter/Inter-Medium.woff) format("woff");
}

@font-face {
    font-family: "Inter";
    font-weight: 600;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("Inter SemiBold"), url(@/assets/fonts/Inter/Inter-SemiBold.woff) format("woff");
}

@font-face {
    font-family: "Inter";
    font-weight: 700;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("Inter Bold"), url(@/assets/fonts/Inter/Inter-Bold.woff) format("woff");
}

@font-face {
    font-family: "Inter";
    font-weight: 800;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("Inter ExtraBold"), url(@/assets/fonts/Inter/Inter-ExtraBold.woff) format("woff");
}

@font-face {
    font-family: "Inter";
    font-weight: 900;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("Inter Black"), url(@/assets/fonts/Inter/Inter-Black.woff) format("woff");
}
